html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #100e17 10%, #a900ff);
  color: #fff;
  font-family: -system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-family: Montserrat, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.35;
  user-select: none;
  text-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
}
a,
div,
h1,
h2,
h3,
input,
p,
textarea {
  box-sizing: border-box;
}
html::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
html::-webkit-scrollbar-thumb {
  background: #fff;
}
html::-webkit-scrollbar-track {
  background: #000;
}
::-moz-selection {
  background: #fd595e;
  color: #9a03f9;
}
::selection {
  color: #fd595e;
  background: #9a02fa;
}
h1,
h2,
h3,
h4,
h5,
h6,
label,
li,
p,
span,
ul {
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
body {
  margin: 0;
  padding: 2rem;
  overflow-x: hidden;
}
section {
  display: flex;
  padding: 2rem;
  box-sizing: border-box;
  align-items: center;
  height: calc(var(--vh, 1vh) * 100);
  max-width: 1920px;
}
body {
  height: 100%;
}
a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.material-icons {
  font-family: "Material Icons";
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
}
.butt {
  border-radius: 10px;
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1;
  box-shadow: 0 10px 25px -10px #000;
  transition: all 0.15s linear;
  white-space: nowrap;
  color: #fff;
  padding: 13px 32px;
  display: flex;
  width: 300px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.cta-vamonos {
  display: flex;
  justify-content: flex-start;
  margin-top: 1rem;
}
.butt.butt-main {
  background: linear-gradient(45deg, #9700ff, #f06);
  margin-right: 1.5rem;
}
.butt.butt-sec {
  background: rgba(0, 0, 0, 0.1);
  font-weight: 300;
  border: 1px solid #fff;
}
.butt:hover {
  box-shadow: 0 10px 10px -10px #000;
  margin-bottom: -3px;
  margin-top: 3px;
}
.butt:active {
  margin-bottom: -6px;
  margin-top: 6px;
}
div#vaya-rgpd-pop {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  display: none;
  background: #100e17d1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 5;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  box-shadow: 0 0 30px -10px #000;
}
div#vaya-rgpd-pop p {
  margin: 0;
}
div#vaya-rgpd-pop p {
  width: 80%;
  max-width: 400px;
  font-size: 15px;
  margin-bottom: 2px;
  padding: 15px;
}
div#vaya-rgpd-pop i {
  width: 24px;
  height: 24px;
}
div#vaya-rgpd-pop a {
  width: 20%;
  padding: 15px;
  display: block;
  text-align: center;
  cursor: pointer;
}
div#vaya-rgpd-pop span {
  text-decoration: line-through;
  color: #a3a3a3;
}
div#vaya-rgpd-pop:before {
  content: "";
  background: linear-gradient(45deg, #9700ff, #f06);
  top: -5px;
  left: 0;
  right: 0;
  position: absolute;
  height: 5px;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.menu-opener {
  display: inline-block;
  height: 60px;
  width: 75px;
  position: relative;
  cursor: pointer;
  z-index: 2;
}
a.logo-ayy {
  z-index: 2;
  width: 35%;
}
header.wrappa {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 3;
  top: 0;
  max-width: 1920px;
  left: 50%;
  transform: translateX(-50%);
  padding: 2rem;
  box-sizing: border-box;
}
header.wrappa:after {
  content: "";
  width: 100vw;
  height: 15vh;
  background: linear-gradient(#100e17, transparent);
  position: fixed;
  top: 0;
  left: 50%;
  pointer-events: none;
  z-index: 0;
  transform: translateX(-50%);
}
header.wrappa .butt-main {
  z-index: 1;
  /*transform: translateX(calc(100% + 2rem));*/
  /*opacity: 0;*/
  font-weight: 500;
  width: auto;
  max-width: 60%;
}
body.scrolled header.wrappa .butt-main {
  transform: none;
  transition: all 0.3s cubic-bezier(0.2, 0.85, 1, 1);
  opacity: 1;
}
div.ke,
div.keke,
div.kekeke {
  background: #fff;
  position: absolute;
  height: 8px;
  right: 0;
  transition: width 0.3s cubic-bezier(0.65, 0, 0.4, 1),
    transform 0.2s cubic-bezier(0.65, 0, 0.4, 1);
  will-change: width;
}
.menu-opener.open div.ke,
.menu-opener.open div.keke,
.menu-opener.open div.kekeke {
  top: 50%;
  margin-top: -4px;
}
.menu-opener.open div.ke,
.menu-opener.open div.keke,
.menu-opener.open div.kekeke,
.menu-opener:hover div.ke,
.menu-opener:hover div.keke,
.menu-opener:hover div.kekeke {
  width: 100%;
}
.menu-opener.open .ke,
.menu-opener.open .keke {
  transform: rotate(45deg);
}
.menu-opener.open .kekeke {
  transform: rotate(-45deg);
}
div.ke {
  width: 100%;
  top: 0;
  left: 0;
}
div.keke {
  top: 50%;
  width: 40%;
  margin-top: -4px;
}
div.kekeke {
  bottom: 0;
  width: 65%;
}
.menu {
  position: fixed;
  height: 100%;
  width: 450px;
  background: rgba(0, 0, 0, 0.65);
  box-shadow: 0 0 20px -5px #000;
  top: 0;
  z-index: 1;
  transition: right 0.3s cubic-bezier(0.65, 0, 0.4, 1);
  will-change: right;
  right: -455px;
}
.menu.open {
  right: 0;
}
ul.menu-wrap {
  margin: 0;
  text-align: right;
  list-style: none;
  padding: 2rem;
  padding-top: 200px;
  height: 100%;
  box-sizing: border-box;
}
div#overlay-menu {
  position: fixed;
  width: 100vw;
  left: 0;
  top: 0;
  height: calc(var(--vh, 1vh) * 100);
  background: rgba(0, 0, 0, 0.4);
  transition: opacity 0.2s linear;
  opacity: 0;
  pointer-events: none;
}
vayavaya.logo {
  z-index: 5;
}
div#overlay-menu.open {
  opacity: 1;
  pointer-events: all;
  cursor: pointer;
}
.cajondemier {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: -2rem;
  margin-bottom: 0 !important;
  justify-content: center;
}
section#hola {
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
section#hola .armecaso.que.no.vancontra.na.mejor {
  text-align: left;
  max-width: 100%;
}
section#hola span {
  display: block;
  line-height: 1.5;
  font-size: 0.75rem;
}
h1 {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#9700ff),
    to(#f06)
  );
  background: linear-gradient(to right, #9700ff, #f06);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  text-shadow: none;
  font-size: 4rem;
  margin: 0;
  line-height: 1.25;
  text-indent: -10px;
  display: inline-block;
  background-size: 500% 500%;
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: rainbow 5s ease infinite;
  -z-animation: rainbow 5s ease infinite;
  -o-animation: rainbow 5s ease infinite;
  animation: rainbow 3s ease infinite;
}
div#anchor-fix {
  position: relative;
  top: -410px;
}
.wrap-sec2 {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: center;
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
}
section#disenos {
  height: calc(var(--vh, 1vh) * 100);
  align-items: center;
  width: 100%;
  margin-top: 5px;
  z-index: 1;
}
section#disenos .quebuscas {
  width: 100%;
  text-align: center;
  margin-bottom: 1.5rem;
}
section#disenos .cards .card {
  width: 22%;
  height: 400px;
  border-radius: 15px;
  background-repeat: no-repeat !important;
  background-blend-mode: multiply;
  background-position-x: center !important;
  background-size: cover !important;
  transition: all 0.3s linear;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 0 50px -15px #000;
  position: relative;
}
.eeehhh {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: transparent;
  transition: background-color 0.2s linear;
}
section#disenos .cards {
  display: flex;
  justify-content: flex-end;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
.cards .card.card-comercial {
  background: url(https://vayawebllevas.com/dev/vayavaya/img/web-modelo-cafeteria.jpg),
    rgba(0, 0, 0, 0.6);
}
.cards .card.card-corporativa {
  background: url(https://vayawebllevas.com/dev/vayavaya/img/web-modelo-oficina.jpg),
    rgba(0, 0, 0, 0.6);
}
.cards .card.card-tienda {
  background: url(https://vayawebllevas.com/dev/vayavaya/img/web-modelo-tienda.jpg),
    rgba(0, 0, 0, 0.6);
}
.cards .card.card-blog {
  background: url(https://vayawebllevas.com/dev/vayavaya/img/web-modelo-blog.jpg),
    rgba(0, 0, 0, 0.6);
}
section#disenos .cards .card:hover {
  box-shadow: 0 0 50px -15px #000;
  background-position-y: -50px;
  background-color: rgba(0, 0, 0, 0.25);
}
section#disenos .cards .card:hover .eeehhh {
  background: #100e17;
}
.cards .card:hover:after {
  opacity: 1;
}
.cards .card:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: all 0.3s linear !important;
  opacity: 0;
  pointer-events: none;
}
section#disenos .cards .card h3 {
  line-height: 1;
  transition: all 0.3s linear;
  margin: 0;
  width: 100%;
  font-size: 0.75rem;
  font-weight: 400;
  padding: 0.5rem;
  position: relative;
}
section#disenos .cards .card h3,
section#disenos .cards .card p.card-desc {
  will-change: top, bottom, left;
  text-shadow: 0 0 15px #000, 0 0 15px #000;
}
section#disenos .cards .card span.card-web {
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 700;
}
section#disenos .cards .card span.card-quiero {
  line-height: 1.25;
}
section#disenos .cards .card p.card-desc {
  font-size: 0.6rem;
  font-weight: 400;
  line-height: 1.25;
  padding: 0;
  transition: all 0.3s linear;
  opacity: 0;
  height: 0;
  padding: 0 0.5rem;
}
section#disenos .cards .card:hover p.card-desc {
  opacity: 1;
  bottom: 0;
  height: 77px;
}
section#disenos .cards .card h3:before {
  content: "";
  background: linear-gradient(45deg, #9700ff, #f06);
  top: -5px;
  left: -100%;
  right: 0;
  position: absolute;
  height: 5px;
  width: 100%;
}
section#disenos .cards .card .card-icon {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  font-size: 1.5rem;
  line-height: 1;
  right: 50px;
  opacity: 0;
}
section#disenos .cards .card:hover .card-icon {
  right: 10px;
  opacity: 1;
  transition: all 0.4s linear;
}
section#disenos .cards .card:hover h3:before {
  left: 0;
  transition: left 0.65s cubic-bezier(0.32, 0.83, 0.43, 0.85);
}
section#dimealgo .contasto {
  text-align: center;
}
section#dimealgo {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding-top: 2rem;
}
.webpop.visible {
  opacity: 1;
  display: block;
  transform: translate(-50%, -35%);
}
.webpop {
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.85);
  box-shadow: 0 0 100px -10px #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 70%;
  background-blend-mode: multiply;
  width: 1000px;
  z-index: 10;
  flex-direction: column;
  opacity: 0;
  max-width: 85vw;
  max-height: calc(100vh - 195px);
  height: auto;
  padding: 1.5rem;
  border-radius: 15px;
  overflow: hidden;
  cursor: auto;
  transform: translate(-50%, 100%);
  transition: all 0.5s ease-in-out;
  will-change: transform;
  overflow-y: auto;
}
.webpop .h3 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0.75rem;
}
.overlay-to-wapo.visible {
  z-index: 10;
  opacity: 1;
  pointer-events: auto;
  cursor: pointer;
}
.overlay-to-wapo {
  backdrop-filter: blur(7px);
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 150vh;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transition: all 0.2s cubic-bezier(0.2, 0.85, 1, 1);
  z-index: -1;
  pointer-events: none;
  opacity: 0;
}
.webpop ul {
  margin: 0.5rem 0 1.5rem;
  font-size: 0.8rem;
}
section#disenos .cards .webpop h3 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: 1;
}
i.material-icons.xauu {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  line-height: 1;
}
.webpop h3 + p {
  margin-bottom: 1.5rem;
}
.webpop:before {
  content: "";
  background: linear-gradient(45deg, #9700ff, #f06);
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  height: 5px;
  width: 100%;
}
.webpop .butt.butt-main {
  position: relative;
  max-width: 250px;
}
footer {
  position: relative;
  display: flex;
  font-size: 0.6rem;
  flex-direction: row;
  align-items: flex-end;
  z-index: 2;
  margin: -2rem;
  margin-top: 0 !important;
  height: 500px;
  filter: drop-shadow(5px 5px 10px rgba(50, 50, 0, 1));
}
.footer2 .foot-text {
  text-align: right;
  margin-bottom: 1rem;
}
.footer1 {
  position: absolute;
  width: 100%;
  z-index: 3;
  padding: 5rem 2rem 2rem;
}
.footer2 {
  background: linear-gradient(0deg, #100e174f 25%, transparent);
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 8rem 2rem 2rem 2rem;
}
.foot-wrap2 .logo-texto {
  text-align: right;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}
.foot-wrap2 {
  width: 50%;
  padding-left: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}
.foot-wrap {
  width: 50%;
  padding-right: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.logo-texto {
  position: relative;
}
footer div {
  box-sizing: border-box;
}
.foot-text i,
.foot-text p {
  font-size: 0.6rem;
  line-height: 1.4;
  vertical-align: bottom;
}
.social {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.footer1 .foot-text1 p {
  font-size: 0.6rem;
  line-height: 1.3;
}
span.heyy {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#9700ff),
    to(#f06)
  );
  background: linear-gradient(to right, #9700ff, #f06);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  font-weight: bolder;
  background-size: 500% 500%;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: rainbow 5s ease infinite;
  -z-animation: rainbow 5s ease infinite;
  -o-animation: rainbow 5s ease infinite;
  animation: rainbow 5s ease infinite;
  text-shadow: none;
}
p.quequequeremos {
  font-size: 1rem !important;
  margin-bottom: 5px;
}
.foot-text1,
.foot-text2 {
  margin-bottom: 0.5rem;
}
.social a:not(:last-child) {
  margin-right: 25px;
}
.social img {
  max-width: 40px;
  transition: margin-top 0.1s, opacity 0.1s;
}
.social img:hover {
  margin-top: -2px;
}
.footer2 .foot-text p {
  margin-bottom: 9px;
}
.logo-footer {
  margin-bottom: 1rem;
}
.luv {
  opacity: 0.8;
}
.luv i,
.luv span {
  font-size: 12px;
  line-height: 1;
  vertical-align: bottom;
}
.luv i {
  color: red;
  -webkit-animation: heartBeat 1s ease infinite;
  -z-animation: heartBeat 1s ease infinite;
  -o-animation: heartBeat 1s ease infinite;
  animation: heartBeat 1s ease infinite;
  padding: 0 1px;
}