
html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	scroll-behavior: smooth;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	margin: 0;
	padding: 0;
	background: -o-linear-gradient(315deg, #100e17 10%, #a900ff);
	background: linear-gradient(135deg, #100e17 10%, #a900ff);
	color: #fff;
	font-family: -system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-family: Montserrat, sans-serif;
	font-size: 26px;
	font-weight: 400;
	line-height: 1.35;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-shadow: 0 2px 15px rgba(0, 0, 0, .5);
}
a,
div,
h1,
h2,
h3,
input,
p,
textarea {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box
}
html::-webkit-scrollbar {
	width: 5px;
	height: 5px
}
html::-webkit-scrollbar-thumb {
	background: #fff
}
html::-webkit-scrollbar-track {
	background: #000
}
::-moz-selection {
	background: #fd595e;
	color: #9a03f9
}
::selection {
	color: #fd595e;
	background: #9a02fa
}
h1,
h2,
h3,
h4,
h5,
h6,
label,
li,
p,
span,
ul {
	margin: 0
}
img {
	max-width: 100%;
	height: auto;
	display: block
}
body {
	margin: 0;
	padding: 2rem;
	overflow-x: hidden
}
section {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 2rem;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: calc(var(--vh, 1vh) * 100);
	max-width: 1920px
}
body {
	height: 100%
}
a {
	color: #fff;
	text-decoration: none;
	cursor: pointer
}
.grecaptcha-badge {
    display: none !important;
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: 400;
	font-style: normal;
	font-size: 24px;
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-feature-settings: 'liga';
	        font-feature-settings: 'liga'
}
.butt {
	border-radius: 10px;
	cursor: pointer;
	font-size: .75rem;
	font-weight: 500;
	line-height: 1;
	-webkit-box-shadow: 0 10px 25px -10px #000;
	        box-shadow: 0 10px 25px -10px #000;
	-webkit-transition: all .15s linear;
	-o-transition: all .15s linear;
	transition: all .15s linear;
	white-space: nowrap;
	color: #fff;
	padding: 13px 32px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 300px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	text-align: center
}
.cta-vamonos {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	margin-top: 1rem
}
.butt.butt-main {
	background: -o-linear-gradient(45deg, #9700ff, #f06);
	background: linear-gradient(45deg, #9700ff, #f06);
	margin-right: 1.5rem
}
.butt.butt-sec {
	background: rgba(0, 0, 0, .1);
	font-weight: 300;
	border: 1px solid #fff
}
.butt:hover {
	-webkit-box-shadow: 0 10px 10px -10px #000;
	        box-shadow: 0 10px 10px -10px #000;
	margin-bottom: -3px;
	margin-top: 3px
}
.butt:active {
	margin-bottom: -6px;
	margin-top: 6px
}
div#vaya-rgpd-pop {
	position: fixed;
	right: 2rem;
	bottom: 2rem;
	display: flex;
	background: #100e17d1;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	z-index: 5;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 72px;
	-webkit-box-shadow: 0 0 30px -10px #000;
	        box-shadow: 0 0 30px -10px #000;
}
div#vaya-rgpd-pop p {
	margin: 0
}
div#vaya-rgpd-pop p {
	width: 80%;
	max-width: 400px;
	font-size: 15px;
	margin-bottom: 2px;
	padding: 15px
}
div#vaya-rgpd-pop i {
	width: 24px;
	height: 24px
}
div#vaya-rgpd-pop a {
	width: 20%;
	padding: 15px;
	display: block;
	text-align: center;
	cursor: pointer
}
div#vaya-rgpd-pop span {
	text-decoration: line-through;
	color: #a3a3a3
}
div#vaya-rgpd-pop:before {
	content: "";
	background: -o-linear-gradient(45deg, #9700ff, #f06);
	background: linear-gradient(45deg, #9700ff, #f06);
	top: -5px;
	left: 0;
	right: 0;
	position: absolute;
	height: 5px;
	width: 100%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px
}
.menu-opener {
	display: inline-block;
	height: 60px;
	width: 75px;
	position: relative;
	cursor: pointer;
	z-index: 2
}
a.logo-ayy {
	z-index: 2;
	width: 35%
}
header.wrappa {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: fixed;
	width: 100%;
	z-index: 3;
	top: 0;
	max-width: 1920px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	padding: 2rem;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box
}
header.wrappa:after {
	content: "";
	width: 100vw;
	height: 15vh;
	background: -webkit-gradient(linear, left top, left bottom, from(#100e17), to(transparent));
	background: -o-linear-gradient(#100e17, transparent);
	background: linear-gradient(#100e17, transparent);
	position: fixed;
	top: 0;
	left: 50%;
	pointer-events: none;
	z-index: 0;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%)
}
header.wrappa .butt-main {
	z-index: 1;
	/* -webkit-transform: translateX(calc(100% + 2rem));
	    -ms-transform: translateX(calc(100% + 2rem));
	        transform: translateX(calc(100% + 2rem));
	opacity: 0; */
	font-weight: 500;
	width: auto;
	max-width: 60%
}
body.scrolled header.wrappa .butt-main {
	-webkit-transform: none;
	    -ms-transform: none;
	        transform: none;
	-webkit-transition: all .3s cubic-bezier(.2, .85, 1, 1);
	-o-transition: all .3s cubic-bezier(.2, .85, 1, 1);
	transition: all .3s cubic-bezier(.2, .85, 1, 1);
	opacity: 1
}
div.ke,
div.keke,
div.kekeke {
	background: #fff;
	position: absolute;
	height: 8px;
	right: 0;
	-webkit-transition: width .3s cubic-bezier(.65, 0, .4, 1), -webkit-transform .2s cubic-bezier(.65, 0, .4, 1);
	transition: width .3s cubic-bezier(.65, 0, .4, 1), -webkit-transform .2s cubic-bezier(.65, 0, .4, 1);
	-o-transition: width .3s cubic-bezier(.65, 0, .4, 1), transform .2s cubic-bezier(.65, 0, .4, 1);
	transition: width .3s cubic-bezier(.65, 0, .4, 1), transform .2s cubic-bezier(.65, 0, .4, 1);
	transition: width .3s cubic-bezier(.65, 0, .4, 1), transform .2s cubic-bezier(.65, 0, .4, 1), -webkit-transform .2s cubic-bezier(.65, 0, .4, 1);
	will-change: width
}
.menu-opener.open div.ke,
.menu-opener.open div.keke,
.menu-opener.open div.kekeke {
	top: 50%;
	margin-top: -4px
}
.menu-opener.open div.ke,
.menu-opener.open div.keke,
.menu-opener.open div.kekeke,
.menu-opener:hover div.ke,
.menu-opener:hover div.keke,
.menu-opener:hover div.kekeke {
	width: 100%
}
.menu-opener.open .ke,
.menu-opener.open .keke {
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg)
}
.menu-opener.open .kekeke {
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg)
}
div.ke {
	width: 100%;
	top: 0;
	left: 0
}
div.keke {
	top: 50%;
	width: 40%;
	margin-top: -4px
}
div.kekeke {
	bottom: 0;
	width: 65%
}
.menu {
	position: fixed;
	height: 100%;
	width: 450px;
	background: rgba(0, 0, 0, .65);
	-webkit-box-shadow: 0 0 20px -5px #000;
	        box-shadow: 0 0 20px -5px #000;
	top: 0;
	z-index: 1;
	-webkit-transition: right .3s cubic-bezier(.65, 0, .4, 1);
	-o-transition: right .3s cubic-bezier(.65, 0, .4, 1);
	transition: right .3s cubic-bezier(.65, 0, .4, 1);
	will-change: right;
	right: -455px
}
.menu.open {
	right: 0
}
ul.menu-wrap {
	margin: 0;
	text-align: right;
	list-style: none;
	padding: 2rem;
	padding-top: 200px;
	height: 100%;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box
}
div#overlay-menu {
	position: fixed;
	width: 100vw;
	left: 0;
	top: 0;
	height: calc(var(--vh, 1vh) * 100);
	background: rgba(0, 0, 0, .4);
	-webkit-transition: opacity .2s linear;
	-o-transition: opacity .2s linear;
	transition: opacity .2s linear;
	opacity: 0;
	pointer-events: none
}
vayavaya.logo {
	z-index: 5
}
div#overlay-menu.open {
	opacity: 1;
	pointer-events: all;
	cursor: pointer
}
.cajondemier {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin: -2rem;
	margin-bottom: 0!important;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center
}
section#hola {
	width: 100%;
	height: calc(var(--vh, 1vh) * 100);
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start
}
section#hola .armecaso.que.no.vancontra.na.mejor {
	text-align: left;
	max-width: 100%
}
section#hola span {
	display: block;
	line-height: 1.5;
	font-size: .75rem
}
h1 {
	background: -webkit-gradient(linear, left top, right top, from(#9700ff), to(#f06));
	background: -o-linear-gradient(left, #9700ff, #f06);
	background: linear-gradient(to right, #9700ff, #f06);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
	text-shadow: none;
	font-size: 4rem;
	margin: 0;
	line-height: 1.25;
	text-indent: -10px;
	display: inline-block;
	background-size: 500% 500%;
	color: #000;
	background-clip: text;
	text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: rainbow 5s ease infinite;
	-z-animation: rainbow 5s ease infinite;
	animation: rainbow 3s ease infinite
}
div#anchor-fix {
	position: relative;
	top: -410px
}
.wrap-sec2 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	max-width: 1920px;
	margin: 0 auto;
	width: 100%
}
section#disenos {
	height: calc(var(--vh, 1vh) * 100);
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 100%;
	margin-top: 5px;
	z-index: 1
}
section#disenos .quebuscas {
	width: 100%;
	text-align: center;
	margin-bottom: 1.5rem
}
section#disenos .cards .card {
	width: 22%;
	height: 400px;
	border-radius: 15px;
	background-repeat: no-repeat!important;
	background-blend-mode: multiply;
	background-position-x: center!important;
	background-size: cover!important;
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
	overflow: hidden;
	cursor: pointer;
	-webkit-box-shadow: 0 0 50px -15px #000;
	        box-shadow: 0 0 50px -15px #000;
	position: relative
}
.eeehhh {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	background-color: transparent;
	-webkit-transition: background-color .2s linear;
	-o-transition: background-color .2s linear;
	transition: background-color .2s linear
}
section#disenos .cards {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 100%;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap
}
.cards .card.card-comercial {
	background: url(https://vayawebllevas.com/assets/img-compress/web-modelo-cafeteria.jpg), rgba(0, 0, 0, .6)
}
.cards .card.card-corporativa {
	background: url(https://vayawebllevas.com/assets/img-compress/web-modelo-oficina.jpg), rgba(0, 0, 0, .6)
}
.cards .card.card-tienda {
	background: url(https://vayawebllevas.com/assets/img-compress/web-modelo-tienda.jpg), rgba(0, 0, 0, .6)
}
.cards .card.card-blog {
	background: url(https://vayawebllevas.com/assets/img-compress/web-modelo-blog.jpg), rgba(0, 0, 0, .6)
}
section#disenos .cards .card:hover .eeehhh {
	background: #100e17
}
.cards .card:hover:after {
	opacity: 1
}
.cards .card:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 15px;
	-webkit-transition: all .3s linear!important;
	-o-transition: all .3s linear!important;
	transition: all .3s linear!important;
	opacity: 0;
	pointer-events: none
}
section#disenos .cards .card h3 {
	line-height: 1;
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
	margin: 0;
	width: 100%;
	font-size: .75rem;
	font-weight: 400;
	padding: .5rem;
	position: relative
}
section#disenos .cards .card h3,
section#disenos .cards .card p.card-desc {
	will-change: top, bottom, left;
	text-shadow: 0 0 15px #000, 0 0 15px #000
}
section#disenos .cards .card span.card-web {
	font-size: 1rem;
	line-height: 1.2;
	font-weight: 700
}
section#disenos .cards .card span.card-quiero {
	line-height: 1.25
}
section#disenos .cards .card p.card-desc {
	font-size: .75rem;
	font-weight: 400;
	line-height: 1.25;
	padding: 0;
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
	opacity: 0;
	max-height: 0;
	padding: 0 .5rem;
}
section#disenos .cards .card:hover p.card-desc {
	opacity: 1;
	bottom: 0;
	max-height: 100px;
	padding-bottom: .5rem;
}
section#disenos .cards .card h3:before {
	content: "";
	background: -o-linear-gradient(45deg, #9700ff, #f06);
	background: linear-gradient(45deg, #9700ff, #f06);
	top: -5px;
	left: -100%;
	right: 0;
	position: absolute;
	height: 5px;
	width: 100%
}
section#disenos .cards .card .card-icon {
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	position: absolute;
	font-size: 1.5rem;
	line-height: 1;
	right: 50px;
	opacity: 0
}
section#disenos .cards .card:hover .card-icon {
	right: 10px;
	opacity: 1;
	-webkit-transition: all .4s linear;
	-o-transition: all .4s linear;
	transition: all .4s linear
}
section#disenos .cards .card:hover h3:before {
	left: 0;
	-webkit-transition: left .65s cubic-bezier(.32, .83, .43, .85);
	-o-transition: left .65s cubic-bezier(.32, .83, .43, .85);
	transition: left .65s cubic-bezier(.32, .83, .43, .85)
}
section#dimealgo .contasto {
	text-align: center
}
section#dimealgo {
	width: 100%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: auto;
	padding-top: 2rem
}
.webpop.visible {
	opacity: 1;
	display: block;
	-webkit-transform: translate(-50%, -35%);
	-ms-transform: translate(-50%, -35%);
	transform: translate(-50%, -35%);
	z-index: 110;
	transition: all .5s ease-in-out;
}
.webpop {
	position: fixed;
	top: 50%;
	left: 50%;
	background-color: rgba(0, 0, 0, .85);
	-webkit-box-shadow: 0 0 100px -10px #000;
	box-shadow: 0 0 100px -10px #000;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 70%;
	background-blend-mode: multiply;
	width: 1000px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	opacity: 0;
	max-width: 85vw;
	max-height: calc(100vh - 240px);
	padding: 1.5rem;
	border-radius: 15px;
	overflow: hidden;
	cursor: auto;
	-webkit-transform: translate(-50%, 100%);
	-ms-transform: translate(-50%, 100%);
	transform: translate(-50%, 100%);
	-webkit-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .2s ease-in-out;
	will-change: transform;
	overflow-y: auto;
}
.webpop .h3 {
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1;
	margin-bottom: .75rem
}
.overlay-to-wapo.visible {
	z-index: 110;
	opacity: 1;
	pointer-events: auto;
	cursor: pointer;
}
.overlay-to-wapo {
	-webkit-backdrop-filter: blur(7px);
	        backdrop-filter: blur(7px);
	background: rgba(0, 0, 0, .5);
	width: 100vw;
	height: 150vh;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	-webkit-transition: all .2s cubic-bezier(.2, .85, 1, 1);
	-o-transition: all .2s cubic-bezier(.2, .85, 1, 1);
	transition: all .2s cubic-bezier(.2, .85, 1, 1);
	z-index: -1;
	pointer-events: none;
	opacity: 0
}
.webpop ul {
	margin: .5rem 0 1.5rem;
	font-size: .8rem
}
section#disenos .cards .webpop h3 {
	margin-bottom: .5rem;
	font-size: 1.5rem;
	line-height: 1
}
i.material-icons.xauu {
	position: absolute;
	right: 1.5rem;
	top: 1.5rem;
	font-size: 1.5rem;
	cursor: pointer;
	line-height: 1
}
.webpop h3+p {
	margin-bottom: 1.5rem
}
.webpop:before {
	content: "";
	background: -o-linear-gradient(45deg, #9700ff, #f06);
	background: linear-gradient(45deg, #9700ff, #f06);
	top: 0;
	left: 0;
	right: 0;
	position: absolute;
	height: 5px;
	width: 100%
}
.webpop .butt.butt-main {
	position: relative;
	max-width: 250px
}
footer {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: .75rem;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	z-index: 2;
	margin: -2rem;
	margin-top: 0!important;
	height: 500px;
	-webkit-filter: drop-shadow(5px 5px 10px rgba(50, 50, 0, 1));
	        filter: drop-shadow(5px 5px 10px rgba(50, 50, 0, 1));
}
.footer2 .foot-text {
	text-align: right;
	margin-bottom: 1rem
}
.footer1 {
	position: absolute;
	width: 100%;
	z-index: 3;
	padding: 5rem 2rem 2rem
}
.footer2 {
	background: -webkit-gradient(linear, left bottom, left top, color-stop(25%, #100e174f), to(transparent));
	background: -o-linear-gradient(bottom, #100e174f 25%, transparent);
	background: linear-gradient(0deg, #100e174f 25%, transparent);
	position: absolute;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	padding: 8rem 2rem 2rem 2rem
}
.foot-wrap2 .logo-texto {
	text-align: right;
	margin-bottom: .5rem;
	font-size: 1rem
}
.foot-wrap2 {
	width: 50%;
	padding-left: 20%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	height: 100%
}
.foot-wrap {
	width: 50%;
	padding-right: 15%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	height: 100%
}
.logo-texto {
	position: relative
}
footer div {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box
}
.foot-text i,
.foot-text p {
	font-size: .75rem;
	line-height: 1.4;
	vertical-align: bottom
}
.social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end
}
.footer1 .foot-text1 p {
	font-size: .75rem;
	line-height: 1.3
}
span.heyy {
	background: -webkit-gradient(linear, left top, right top, from(#9700ff), to(#f06));
	background: -o-linear-gradient(left, #9700ff, #f06);
	background: linear-gradient(to right, #9700ff, #f06);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
	font-weight: bolder;
	background-size: 500% 500%;
	background-clip: text;
	text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: rainbow 5s ease infinite;
	-z-animation: rainbow 5s ease infinite;
	animation: rainbow 5s ease infinite;
	text-shadow: none
}
p.quequequeremos {
	font-size: 1rem!important;
	margin-bottom: 5px
}
.foot-text1,
.foot-text2 {
	margin-bottom: .5rem
}
.social a:not(:last-child) {
	margin-right: 25px
}
.social img {
	max-width: 40px;
	-webkit-transition: margin-top .1s, opacity .1s;
	-o-transition: margin-top .1s, opacity .1s;
	transition: margin-top .1s, opacity .1s
}
.social img:hover {
	margin-top: -2px
}
.footer2 .foot-text p {
	margin-bottom: 9px
}
.logo-footer {
	margin-bottom: 1rem
}
.luv {
	opacity: .8
}
.luv i,
.luv span {
	font-size: 12px;
	line-height: 1;
	vertical-align: bottom
}
.luv i {
	color: red;
	-webkit-animation: heartBeat 1s ease infinite;
	-z-animation: heartBeat 1s ease infinite;
	animation: heartBeat 1s ease infinite;
	padding: 0 1px
}
@media screen and (min-width: 1500px) {
	.footer1 {
		-webkit-clip-path: polygon(0 0, 0 100%, 70% 100%);
		        clip-path: polygon(0 0, 0 100%, 70% 100%);
		background: -o-linear-gradient(80deg, #100e17 -10%, #a900ff);
		background: linear-gradient(10deg, #100e17 -10%, #a900ff)
	}
	.footer2 {
		-webkit-clip-path: polygon(135% -15%, -70% 185%, 120% 100%);
		        clip-path: polygon(135% -15%, -70% 185%, 120% 100%);
		background: #100e174f
	}
}
@media screen and (max-width: 1370px) {
	html {
		font-size: 22px
	}
}
@media screen and (max-width: 1500px) {
	section#disenos {
		min-height: 1000px
	}
	.foot-wrap {
		padding: 0;
		width: 100%
	}
	.footer1,
	.footer2 {
		width: 50%;
		background: 0 0;
		position: static;
		padding: 2rem
	}
	footer {
		background: -webkit-gradient(linear, left bottom, left top, color-stop(25%, #100e174f), to(transparent));
		background: -o-linear-gradient(bottom, #100e174f 25%, transparent);
		background: linear-gradient(0deg, #100e174f 25%, transparent)
	}
	.foot-wrap2 {
		width: 100%;
		padding-left: 0
	}
}
@media screen and (min-width: 768px) {
	
section#disenos .cards .card:hover {
	-webkit-box-shadow: 0 0 50px -15px #000;
	        box-shadow: 0 0 50px -15px #000;
	background-position-y: -50px;
	background-color: rgba(0, 0, 0, .25)
}
	.seperator-wrapper {
	    display: none;
	}
	.webpop.blog {
		background-image: url(https://vayawebllevas.com/assets/img-compress/web-modelo-blog.jpg)
	}
	.webpop.comercial {
		background-image: url(https://vayawebllevas.com/assets/img-compress/web-modelo-cafeteria.jpg)
	}
	.webpop.corporativa {
		background-image: url(https://vayawebllevas.com/assets/img-compress/web-modelo-oficina.jpg)
	}
	.webpop.tienda {
		background-image: url(https://vayawebllevas.com/assets/img-compress/web-modelo-tienda.jpg)
	}
}
@media screen and (max-width: 768px) {

	html {
		font-size: 16px
	}
	h2 {
		font-size: 1.25rem;
		margin-bottom: .5rem
	}
	h1 {
		font-size: 2.5rem;
		text-indent: initial;
		margin-bottom: .5rem;
		line-height: 1;
		width: 100%
	}
	.webpop {
		width: 100%;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
		background-color: #100e17;
	}
	.webpop .butt.butt-main {
		max-width: unset;
		width: 100%;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box
	}
	section#disenos {
		height: auto;
		min-height: unset;
		padding: 4rem 1rem
	}
	header.wrappa {
		padding: 1rem
	}
	section#hola span {
		font-size: .8rem;
		display: inline
	}
	section#disenos .cards .card {
		width: 100%;
		margin: 1rem 0;
		height: 300px;
		background-position-y: center;
		background-color: rgba(0, 0, 0, .25)!important
	}
	.cta-vamonos {
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between
	}
	.cta-vamonos a.butt {
		width: calc(50% - .5rem);
		margin: 0;
		-o-text-overflow: ellipsis;
		   text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		padding: 13px;
		display: block
	}
	header.wrappa .butt-main {
		margin: 0;
		white-space: normal;
		text-align: center;
		line-height: 1.2;
		padding: 10px;
		font-size: 18px;
		display: none
	}
	section#hola {
		padding: 1rem
	}
	section#disenos .cards .card p.card-desc,
	section#disenos .cards .card:hover p.card-desc {
		padding: 0 3rem .75rem 1rem;
		opacity: 1;
		font-size: .75rem;
		max-height: unset;
	}
	section#disenos .cards .card span.card-web {
		line-height: 1.5
	}
	section#disenos .cards .card h3 {
		padding: .75rem 1rem .25rem
	}
	section#disenos .cards .card h3:before {
		left: 0
	}
	.eeehhh {
		background: #100e17
	}
	section#disenos .cards .card .card-icon {
		right: 10px;
		opacity: 1
	}
	footer {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		height: auto;
		-webkit-box-align: end;
		    -ms-flex-align: end;
		        align-items: flex-end
	}
	.footer1,
	.footer2 {
		width: 100%;
		padding: 1rem;
	}
	.social {
		display: none
	}
	.footer2 {
	}
	.footer2 .foot-text {
		margin: 0;
		text-align: left;
	}
	.footer2 .foot-text br {
		display: none
	}
	.footer2 .foot-text p {
		margin-bottom: 5px
	}
	.logo-footer {
		margin-left: -6px
	}
	section#dimealgo{
		padding-left: 1rem;
		padding-right: 1rem;
	}
	div#vaya-rgpd-pop {
        right: 0;
        bottom: 25%;
        max-width: 75vw;
        height: auto;
        border-bottom-right-radius: 0 !important;
 }
	.seperator-wrapper {
		width: 100%
	}
	.seperator {
		width: 100vw;
		height: 3px;
		animation: woowowowo 25s infinite linear;
		-webkit-animation: woowowowo 25s infinite linear
	}
	.gradient {
		background: #30ff90;
		background: -o-linear-gradient(left, rgba(48, 255, 144, 1) 0%, rgba(237, 45, 237, 1) 25%, rgba(201, 152, 38, 1) 50%, rgba(48, 255, 230, 1) 75%, rgba(48, 255, 144, 1) 100%);
		background: -webkit-gradient(linear, left top, right top, from(rgba(48, 255, 144, 1)), color-stop(25%, rgba(237, 45, 237, 1)), color-stop(50%, rgba(201, 152, 38, 1)), color-stop(75%, rgba(48, 255, 230, 1)), to(rgba(48, 255, 144, 1)));
		background: linear-gradient(to right, rgba(48, 255, 144, 1) 0%, rgba(237, 45, 237, 1) 25%, rgba(201, 152, 38, 1) 50%, rgba(48, 255, 230, 1) 75%, rgba(48, 255, 144, 1) 100%);

	}
	@-webkit-keyframes woowowowo {
		from {
			background-position: -3000px
		}
		to {
			background-position: 0
		}
	}
	@keyframes woowowowo {
		from {
			background-position: -3000px
		}
		to {
			background-position: 0
		}
	}
	div#vaya-rgpd-pop:before {
		border-top-right-radius: 0;
	}

	div#vaya-rgpd-pop p {
		font-size: 12px;
		padding: .5rem .75rem;
	}
}