<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- <title><% preact.title %></title> -->
    <!-- <meta name="viewport" content="width=device-width,initial-scale=1"> -->
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>Vaya Web Llevas | Diseño y desarrollo web &#10003;</title>
    <meta
      name="description"
      content="Construimos tu web y mejoramos tu presencia online &#10003; Diseño y desarrollo web en Málaga."
    />
    <meta
      name="keywords"
      content="software, web gratis, web barata, software a medida, servicios informaticos, servicios informáticos, servicio informatico, servicio informático, diseño web, diseño gráfico, diseño grafico, marketing, marketing online, erp, cms, cuadros de mando, marketing on line, online, seo, sem, redes sociales, rr ss, apps, aplicaciones, móvil, movil, moviles, móviles, smartphones, smartphone, aplicación móvil, consultoría informática, consultoria informatica, tiendas online, tienda online, desarrollo de tienda online, programación, programación de páginas web, programacion de paginas web"
    />
    <link rel="alternate" href="https://vayawebllevas.com" hreflang="es" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&display=swap"
      rel="stylesheet"
    />
    <!-- <script src="https://www.google.com/recaptcha/api.js?render=6LcmcaUZAAAAAJ0QonxcuozY_sjAGlNQDaeY8qQI" async defer></script> -->
    <% preact.headEnd %>
  </head>
  <body>

    <% preact.bodyEnd %>
  </body>
</html>
